@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  color: #fff;
  font-family: 'Inter', sans-serif;

  .main.active {
    background: linear-gradient(
      to bottom,
      hsl(225, 100%, 98%) 35%,
      hsl(0, 0%, 100%) 35%
    );
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 144rem;
  height: 80rem;
  background: linear-gradient(
    to bottom,
    hsl(232, 19%, 15%) 35%,
    hsl(230, 17%, 14%) 35%
  );
  z-index: -2;
  &__socialMediaDb {
    flex-basis: 50%;
    display: flex;
    width: 80%;
    flex-direction: column;

    &-header {
      display: flex;
      align-items: center;
      height: 20%;
      justify-content: space-between;
      margin: 3rem 0;
      font-weight: 700;

      .header-text {
        .heading-primary {
          font-size: 3rem;
        }

        .followers-count {
          color: hsl(228, 12%, 44%);
          font-size: 2rem;
        }
      }

      .header-themeSwitcherBox {
        display: flex;
        align-items: center;

        .themeSwitcher {
          position: relative;
          margin-left: 1.5rem;
          display: inline-block;
          height: 2.5rem;
          width: 5rem;
          border-radius: 4rem;
          background: linear-gradient(
            to right,
            hsl(210, 78%, 56%),
            hsl(146, 68%, 55%)
          );

          &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 8%;
            transform: translateY(-50%);
            height: 2rem;
            width: 2rem;
            background-color: hsl(229, 17%, 19%);
            border-radius: 20rem;
            transition: 0.2s all linear;
          }
          &:hover {
            cursor: pointer;
          }
        }

        .themeSwitcher.active {
          &::after {
            left: 92%;
            transform: translate(-100%, -50%);
            background-color: hsl(231, 24%, 84%);
            transition: 0.2s all linear;
          }
        }
      }
    }

    &-content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 3rem;

      &-item {
        height: 25rem;
        background-color: $card-bg-color;
        border-radius: 0.5rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .social-media {
          color: hsl(228, 34%, 66%);
          font-weight: 700;
          display: flex;
          align-items: center;

          .icon {
            margin-right: 0.6rem;
          }
        }

        .followers {
          text-align: center;
          &-value {
            font-size: 5rem;
            font-weight: 700;
          }
          &-text {
            font-size: 1.5rem;
            letter-spacing: 0.5rem;
            color: hsl(228, 12%, 44%);
            text-transform: uppercase;
          }
        }

        .followersDifference {
          @include flex-center;
          color: $lime-green-color;
          font-weight: 700;

          .icon {
            margin-right: 0.3rem;
          }
        }

        &:nth-child(1),
        &:nth-child(2) {
          border-top: 0.4rem solid $facebook-color;
        }
        &:nth-child(3) {
          position: relative;
          z-index: 1;
          &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            height: 4px;
            width: 26.55rem;
            background: linear-gradient(
              to right,
              hsl(37, 97%, 70%),
              hsl(329, 70%, 58%)
            );
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            z-index: -1;
          }
        }
        &:last-child {
          border-top: 0.4rem solid $youtube-color;
          .difference-value {
            color: $bright-red-color;
          }
        }
        &:hover {
          cursor: pointer;
          background-color: lighten($color: $card-bg-color, $amount: 10);
        }
      }
      &-item.active {
        background-color: hsl(227, 47%, 96%);
        &:hover {
          // cursor: pointer;
          background-color: darken($color: hsl(227, 47%, 96%), $amount: 10);
        }
      }
    }
  }

  &__overview {
    flex-grow: 1;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .heading-secondary {
      font-size: 2.8rem;
      margin-bottom: 4rem;
    }

    &-content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 3rem;

      &-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // grid-gap: 4rem;
        justify-items: right;
        align-items: center;

        padding: 1.5rem 3rem;
        background-color: $card-bg-color;
        height: 13rem;
        border-radius: 0.5rem;

        &:hover {
          cursor: pointer;
          background-color: lighten($color: $card-bg-color, $amount: 10);
        }

        .item-description {
          justify-self: left;
          color: hsl(228, 34%, 66%);
          font-weight: 700;
        }

        .heading-tertiary {
          justify-self: left;
          font-size: 3rem;
        }

        .followersDifference {
          font-weight: 700;
          color: $lime-green-color;
        }

        &:nth-child(2),
        &:nth-child(7),
        &:nth-child(8) {
          .followersDifference {
            color: $bright-red-color;
          }
        }
      }
      &-item.active {
        background-color: hsl(227, 47%, 96%);
        &:hover {
          // cursor: pointer;
          background-color: darken($color: hsl(227, 47%, 96%), $amount: 10);
        }
      }
    }
  }
}
.heading-primary.active,
.heading-tertiary.active,
.followers-value.active {
  color: hsl(230, 17%, 14%);
}

.themeName.active,
.followers-count.active,
.heading-secondary.active {
  color: hsl(228, 12%, 44%);
}
