@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond(desktop) {
    font-size: 50%;
  }
  @include respond(laptop) {
    font-size: 45%;
  }
  @include respond(tablet) {
    font-size: 40%;
  }
  @include respond(phone-land) {
    font-size: 35%;
  }
  @include respond(phone-port) {
    font-size: 50%;
  }
}

body {
  min-height: 100vh;
  font-size: 1.4rem;
  color: #fff;
  font-family: 'Inter', sans-serif;
  background-color: $bg-color;

  .main.active {
    background: linear-gradient(
      to bottom,
      hsl(225, 100%, 98%) 35%,
      hsl(0, 0%, 100%) 35%
    );
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 144rem;
  height: 80rem;
  background: linear-gradient(to bottom, hsl(232, 19%, 15%) 35%, $bg-color 35%);
  z-index: -2;

  @include respond(phone-port) {
    height: auto;
    width: auto;
  }

  &__socialMediaDb {
    flex-basis: 50%;
    display: flex;
    width: 80%;
    flex-direction: column;
    @include respond(phone-port) {
      width: 90%;
    }

    &-header {
      display: flex;
      align-items: center;
      height: 20%;
      justify-content: space-between;
      margin: 3rem 0;
      font-weight: 700;

      @include respond(phone-port) {
        align-items: flex-start;
        flex-direction: column;
      }

      .header-text {
        .heading-primary {
          font-size: 3rem;
        }

        .followers-count {
          color: $blue-light-color;
          font-size: 2rem;
          @include respond(phone-port) {
            // font-size: 3.5rem;
            padding-bottom: 3rem;
          }
        }
      }

      .header-themeSwitcherBox {
        display: flex;
        align-items: center;

        @include respond(phone-port) {
          width: 100%;
          border-top: 1px solid rgb(114, 80, 80);
          justify-content: space-between;
          padding-top: 3rem;
          // font-size: 3.5rem;
          color: $blue-light-color;
        }

        .themeSwitcher {
          position: relative;
          margin-left: 1.5rem;
          display: inline-block;
          height: 2.5rem;
          width: 5rem;
          border-radius: 4rem;
          background: linear-gradient(
            to right,
            hsl(210, 78%, 56%),
            hsl(146, 68%, 55%)
          );

          &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 8%;
            transform: translateY(-50%);
            height: 2rem;
            width: 2rem;
            background-color: hsl(229, 17%, 19%);
            border-radius: 20rem;
            transition: 0.2s all linear;
          }
          &:hover {
            cursor: pointer;
          }

          // @include respond(phone-port) {
          //   height: 5rem;
          //   width: 10rem;

          //   &::after {
          //     height: 4rem;
          //     width: 4rem;
          //   }
          // }
        }

        .themeSwitcher.active {
          &::after {
            left: 92%;
            transform: translate(-100%, -50%);
            background-color: $card-bg-light-color;
            transition: 0.2s all linear;
          }
        }
      }
    }

    &-content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 3rem;

      @include respond(phone-port) {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 160vh;
      }

      &-item {
        height: 25rem;
        background-color: $card-bg-color;
        border-radius: 0.5rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        @include respond(phone-port) {
          height: 28rem;
        }

        .social-media {
          color: $blue-light-color;
          font-weight: 700;
          display: flex;
          align-items: center;

          .icon {
            margin-right: 0.6rem;
            height: 2.5rem;
          }
        }

        .followers {
          text-align: center;
          &-value {
            font-size: 5rem;
            font-weight: 700;
            @include respond(phone-port) {
              font-size: 7rem;
            }
          }
          &-text {
            font-size: 1.5rem;
            letter-spacing: 0.5rem;
            color: $gray-light-color;
            text-transform: uppercase;
          }
        }

        .followersDifference {
          @include flex-center;
          color: $lime-green-color;
          font-weight: 700;

          .icon {
            margin-right: 0.3rem;
          }
        }

        &:nth-child(1),
        &:nth-child(2) {
          border-top: 0.4rem solid $facebook-color;
        }
        &:nth-child(3) {
          position: relative;
          z-index: 1;
          &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            height: 0.4rem;
            width: 100%;
            background: linear-gradient(
              to right,
              hsl(37, 97%, 70%),
              hsl(329, 70%, 58%)
            );
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            z-index: -1;
          }
        }
        &:last-child {
          border-top: 0.4rem solid $youtube-color;
          .difference-value {
            color: $bright-red-color;
          }
        }
        &:hover {
          cursor: pointer;
          background-color: lighten($color: $card-bg-color, $amount: 10);
        }
      }
      &-item.active {
        background-color: $card-bg-light-color;
        &:hover {
          // cursor: pointer;
          background-color: darken($color: $card-bg-light-color, $amount: 10);
        }
      }
    }
  }

  &__overview {
    flex-grow: 1;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(phone-port) {
      width: 90%;
    }

    .heading-secondary {
      font-size: 2.8rem;
      margin-bottom: 4rem;
    }

    &-content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 3rem;

      @include respond(phone-port) {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 170vh;
      }

      &-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // grid-gap: 4rem;
        justify-items: right;
        align-items: center;

        padding: 1.5rem 3rem;
        background-color: $card-bg-color;
        height: 13rem;
        border-radius: 0.5rem;

        @include respond(phone-port) {
          height: 15rem;
        }

        &:hover {
          cursor: pointer;
          background-color: lighten($color: $card-bg-color, $amount: 10);
        }

        .item-description {
          justify-self: left;
          color: $blue-light-color;
          font-weight: 700;
          @include respond(phone-port) {
            font-size: 1.5rem;
          }
        }
        .media-icon {
          height: 2.5rem;
        }

        .heading-tertiary {
          justify-self: left;
          font-size: 3rem;
          @include respond(phone-port) {
            font-size: 4rem;
          }
        }

        .followersDifference {
          font-weight: 700;
          color: $lime-green-color;
        }

        &:nth-child(2),
        &:nth-child(7),
        &:nth-child(8) {
          .followersDifference {
            color: $bright-red-color;
          }
        }
      }
      &-item.active {
        background-color: $card-bg-light-color;
        &:hover {
          // cursor: pointer;
          background-color: darken($color: $card-bg-light-color, $amount: 10);
        }
      }
    }
  }
}
.heading-primary.active,
.heading-tertiary.active,
.followers-value.active {
  color: $bg-color;
}

.themeName.active,
.followers-count.active,
.heading-secondary.active {
  color: $gray-light-color;
}
